<style>
	.img_size{
		height: 462px;
	}

</style>
<br>
<div class="container">
	<div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
	  <div class="carousel-inner">
	    <div class="carousel-item active">
	      <img src="app/assets/images/placeholder1.png" class="d-block w-100 img_size" alt="..." data-interval="5" >
	    </div>
	    <div class="carousel-item">
	      <img src="app/assets/images/placeholder2.png" class="d-block w-100 img_size" alt="..." data-interval="5" >
	    </div>
	    <div class="carousel-item">
	      <img src="app/assets/images/placeholder3.jpg" class="d-block w-100 img_size" alt="..." data-interval="5" >
	    </div>
	  </div>
	  <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
	    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
	    <span class="sr-only">Previous</span>
	  </a>
	  <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
	    <span class="carousel-control-next-icon" aria-hidden="true"></span>
	    <span class="sr-only">Next</span>
	  </a>
	</div>
	<div style="margin-top: 50px;"></div>
	<div class="row">
		<div class="col-md-12">
			<div class="card" style="opacity: 0.8;">
			  <h5 class="card-header">Header 1</h5>
			  <div class="card-body">
			    <p class="card-text">
			    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			  </div>
			</div>

			<br>
			<div class="card" style="opacity: 0.8;">
			  <h5 class="card-header">Header 2</h5>
			  <div class="card-body">
			    <p class="card-text">
			    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			  </div>
			</div>
			<br>
		</div>


		<div class="col-md-4">
			<div class="card" style="opacity: 0.8;">
			  <h5 class="card-header">Header 2</h5>
			  <div class="card-body">
			    <p class="card-text">
			    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			    <a href="#" class="btn  btn-primary ">Go somewhere</a>
			  </div>
			</div>
		</div>

		<div class="col-md-8">
			<div class="card" style="opacity: 0.8;">
			  <h5 class="card-header">Header 3</h5>
			  <div class="card-body">
			    <p class="card-text">
			    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			  </div>
			</div>
			<br>
			<div class="card" style="opacity: 0.8;">
			  <div class="card-body">
			    <p class="card-text">
			   	Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			  </div>
			</div>
		</div>
	</div>
</div>