<style>
	.para{
		text-indent: 50px;
	}


</style>
<div class="container">
	<br>
	<div class="row">
		<div class="col-md-12">
			<div class="card">
			  <center><h5 class="card-header">BRIEF HISTORY OF THE NEW EL SALVADOR COLLEGES</h5></center>
			  <div class="card-body">
			    <p class="card-text para">
			    The New El Salvador Colleges was formerly named Garden of Angels Learning Center. IT was founded by the late Mr. Nelson S. Manabat in 1992. It has three teachers.
			    </p>

			    <p class="card-text para">
			    By the year 1996, complete elementary level, Grade 1 to Grade 6 was opened. There were four teachers including the founder. The grade school started with very few enrollees but a year after, the number increases.
			    </p>

			    <p class="card-text para">
			    In the same year, the first year of the secondary level was opened. Prior to the graduation of the high school students, the founder change the name of the school to El Salvador Colleges in preparation for the teriary level of Education.
			    </p>

			    <p class="card-text para">
			    The School was able to offer short term technical/vocational courses with the permit granted by the Technical Education Skills Development Authority (TESDA).
			    </p>

			    <p class="card-text para">
			    Unfortunately, the founder died in 2007 and the school was sold.
			    </p>
			    <p class="card-text para">
			    Under the new management of THE NEW EL SALVADOR COLLEGES, Inc, the school now offers college education along with basic education and TESDA courses. Its present incorporators and administrators effected a beautiful change on the school's campus. A new building with modern facilities was constructed.
			    </p>

			    <p class="card-text para">
			    One of the significant visible landmarks of THE NEW EL SALVADOR COLLEGES, INC. is a towering four-story school building that has magnificently highlighted the skyline of El Salvador City.
			    </p>

			    <p class="card-text para">
			    Other facilities are the covered basketball court, a dormitory and staff house, cemented pathway, ahtletic facilities and equipment, air conditioned computer laboratory, audio-visual room, and speech laboratory, air-conditioned elementary classrooms, well-equipped science laboratory; well-furnished libraries, well ventilated and standard sized classrooms; school canteen and cafeteria, landscaped garden dotting the spots and enlivened up the borders of the school, and portion of adjacent land were purchased and added.
			    </p>

			    <p class="card-text para">
			    In the school year 2017, the school has submitted for PACUCOA accreditation for the porgram BEEd, BSEd and BSBA Programs.
			    </p>

			    <p class="card-text para">
			    In the same year, saw the opening of BS Criminology program granted by the Commission on Higher Education which is presently occupying the Engr. john Mark T. Magallanes Campus at Pedro sa Baculio, El Salvador City.
			    </p>
			    <hr>
			    <center><h5>VISION</h5></center>
			    <p class="card-text">
			    The New El Salvador Colleges (TNESC) of El Salvador City envisions students who are globally competitive to meet life's challenges and demands with strong faith and confidence in God.
			    </p>

			    <center><h5>MISSION</h5></center>
			    <p class="card-text">
			    As a learning institution committed to the pursuit of truth and excellence, uplifting the standard of living in the community it serves and the country as a whole, it aims to preserve the environment and its human resources in the enhancement of knowledge and skills to promote sustainable economic growth; and to produce experts in their field of endeavors imbued with ideals necessary to serve wherever they may be situated.
			    </p>

			    <center><h5>CORE VALUES</h5></center>
			    <p class="card-text">
			   	<strong>T - </strong> Truth and wisdom
			    </p>
			    <p class="card-text">
			   	<strong>N - </strong> National Integrity
			    </p>
			    <p class="card-text">
			   	<strong>E - </strong> Environmental and community conscience
			    </p>
			    <p class="card-text">
			   	<strong>S - </strong> Strength to withstand all odds
			    </p>

			    <p class="card-text">
			   	<strong>C - </strong> Christian, fidelity and love
			    </p>
			  </div>
			</div>
		</div>
	</div>
</div>